<%= $game.first_player.name %> vs. <%= $game.second_player.name %>
<br>
<%= $game.second_player.name %>: <%= $game.second_player.hp %>HP


<form action="/attack">
   <input type="submit" value="Attack">
</form>