<h1><%= @game.first_player.player_name %> vs. <%= @game.last_player.player_name %></h1>
<h3><%= @game.last_player.player_name %>: <%= @game.last_player.hit_points  %> Hit points </h3>

<form action="/attack" method ="post">
<input type="submit" value ='ATTACK.'>
</form>
